<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Projects API</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h2>Random Pictures of Dog</h2>
    <div class="container">
        <% if (locals.image) {%>
            <img src=<%= image %> alt="">
            
        <%} %>
    </div>
</body>
</html>