*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 200px;
    height: auto;
    background-color: aqua;
    color: green;
    border: 2px solid black;
    margin: 20px;
}

.uList{
    list-style: none;
    
}