.container.box1{
    border: 10px solid black;
    height: 200px;  
    width: 200px;
    background-color: green;
    padding: 20px;
}
.box1 p{
    margin: 0;
    /* padding: 0; */
}


.container.box2{

    border-top: 20px solid black;
    border-bottom: 20px solid black;
    border-right: 10px solid black;
    border-left: 10px solid black;  
    margin-left: 260px;
    padding: 20px;
    height: 200px;
    width: 200px;
    background-color: yellow;
}

.container.box3{
    border: 10px solid black;
    /* margin-top: 60vh; */
    height: 200px;
    width: 200px;
    padding: 20px;
    background-color: red;
}