.container{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-left: 25%;
    background-color: black;
    width: 50%;
    height: 25%;
    border-radius: 5px;
}
.container img {

        /* padding: 10px; */
        margin: 10px;
        width: calc(100% - 20px);
        box-sizing: border-box;
        border: 4px solid yellow;
        /* outline: 10px solid yellow; */
        /* outline-offset: -6px; */
}

.container h2{
    text-align: center;
    font-family: Libre Baskerville, serif;
    color: yellow;
}
.container p{
    text-align: center;
    color: white;
}