<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prac1</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <h1>This is revision of ejs</h1>
    <div class="container">
        <% if (locals.obj1) { %>
            <h2>Users</h2>
            <ul class="uList">
                <li><%= obj1.name %> </li>
                <li><%= obj1.name2 %></li>
                <% obj1.grades.forEach(element => {%>
                    <h2><%= element.one %></h2>
                    <h2><%= element.two %></h2>

                    
                <%}); %>
            </ul>

            <%} %>

    </div>
</body>

</html>