body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }
  .main {
    flex: 1;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  footer {
    text-align: right;
    color: midnightblue;
  }
  
  .card{
    /* display: flex; */
    width: 45%;
    /* align-items: center; */
  
  }
  .tile-image{
    /* width: 37%; */
    height: 170px;
    float: left;
    margin-right: 50px;
  
  }
  .left{
    /* width: 50%; */
    float: left;
  }
  
  .right{
    /* width: 50%; */
    float: right;
  }
  
  /* .card-title, .card-text{
    display: inline-block;
  } */
  
  @media screen and (max-width: 480px) {
    .logo{
      width: 10rem;
    }
    h1{
      font-size: 42px;
    }
    .main{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .card{
      width: 100%;
      /* display: block; */
      margin-bottom: 30px;
      text-align: justify;
    }
    .tile-image{
      width: 100%;
      height: auto;
      margin-right: 0;
    }
    
  }
   
  
  