<form action="/submit" method="post">
    <!-- <img src=""  alt=""> -->
     <label for="image">Image</label>
     <input type="text" name="image" id="">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Title">
    <label for="contet">Content</label>
    <textarea name="content" placeholder="Content"></textarea>
    <button type="submit">Submit</button>
</form>